/** Debut CSS commun **/


* {
    color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
}



        /** Nav_Bar **/

nav {
    width: 100%;
    justify-content: space-between;            /** A suprimer sur les autre pages **/
    background-color: white;
    position: sticky;
    top: 0;
    background-color: gray;
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0% 5% ;
    display: flex;              /* Utilisez flex pour afficher les éléments horizontalement */
}

nav li {
    flex: 1;                        /* Les éléments du menu occupent une part égale de l'espace disponible */
    text-align: center;
    position: relative;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0;
    transition: color 0.3s, border-bottom 0.3s;
}

nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

.sous {
    display: none;
    box-shadow: 0 1px 2px #CCC;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav li:hover .sous {
    display: block;
}

.sous li {
    text-align: left;
}

.sous a {
    padding: 10px;
    border-bottom: none;
    display: block;
}

.sous a:hover {
    border-bottom: none;
    background-color: rgb(108, 165, 250);
}


        /** Fin Nav_Bar **/




#Title_1{
    border: 4mm inset rgba(0, 255, 255, 0.521);
    color: rgba(0, 255, 255, 0.521);
    text-align: center;
    background-color: black;
}
h2{
    text-align: center;
    text-decoration: underline;
}
p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}

 /** Fin CSS commun **/

.Presentation_Salarié{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: bisque;
    border: solid;
}





    /** Block presentation application **/

.Box_1{
    display: flex;
    border: 4mm inset  rgba(0, 255, 106, 0.767);
    background-color: blueviolet;
}
.Box_2{
    display: flex;
    border: 4mm inset  rgba(229, 255, 0, 0.767);
    background-color: blue;
}
.Box_3{
    display: flex;
    border: 4mm inset  rgba(255, 0, 157, 0.767);
    background-color: green;
}
.Container_1{
    display: flex;
    border: 4mm inset  rgba(255, 7, 7, 0.767);
    background-color: rgba(0, 0, 255, 0.671);
}
#appli_1{
    left: 50%;
}
#appli_2{
    right: 50%;
}

 /** Fin block presentation application **/

 .Title_appli{
    background-color: brown;
 }

